{{define "content"}}
<div>
	<form action="\addContact" method="POST">
		Name:<input type="text" name="name">
		Phone no:<input type="text" name="phoneNo">
		Email:<input type="email" name="email">
		Address:<input type="text" name="address">
		<input type="submit" value="Add">
	</form>
</div>
{{end}}
